/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 10:35:12 PM
    Author     : Aditya Sinha
*/
.parent{
    -fx-background-color: #ffcce9;
    -fx-text-fill: #726970;   
}
.close{
    -fx-text-fill: #726970;
}
.btn{
    -fx-background-color: #dd77b3;
    -fx-border-color: #ffcccc;
    -fx-text-fill: #ffffff;
}
